html, body, div, a, a:hover {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

#weibo {
	position: fixed;
	z-index: 101;
	margin-left: -200px;
	margin-top: -40px;
	width: 200px;
	height: 40px;
	bottom: -10px;
	right: -50px;
	text-align: center;
}

#language_cn, #language_en {
	position: fixed;
	z-index: 102;
	margin-left: 0px;
	margin-top: 0px;
	width: 100px;
	height: 30px;
	top: 10px;
	right: 10px;
	background:url(svg/language_cn.svg) no-repeat;
}

#language_en {
	background-image:url(svg/language_en.svg);
}

#sky {
	z-index:0;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:url(svg/sky.svg) no-repeat;
	background-size:100% 100%;
	position:fixed;
}

#bg_mountain {
	position:fixed;
	z-index:10;
	top:0%;
	left:0%;
    margin-top:-280px;
	width:3000px;
	height:500px;
	background:url(svg/bg_mountain.svg) no-repeat;
	background-size:100%;
}

#logo {
	no-repeatposition:fixed;
	z-index:101;
	top:40%;
	left:50%;
	margin-left:-250px;
	margin-top:-250px;
	width:500px;
	height:500px;
	background:url(svg/logo_cn.svg) no-repeat;
	background-size:100%;
}

#operation {
	position:fixed;
	z-index:99;
	top:90%;
	left:50%;
	margin-left:-206px;
	margin-top:-63px;
	width:412px;
	height:126px;
	background:url(svg/operation_suggests_cn.svg) no-repeat;
	background-size:100%;
}

#luoxuan {
	position:fixed;
	z-index:54;
	margin-left:225px;
	margin-top:116px;
	width:6px;
	height:56px;
	background:url(svg/luoxuan.svg) no-repeat;
	background-size:100%;
	-webkit-animation: luoxuan 0.2s linear infinite;
            animation: luoxuan 0.2s linear infinite;	
}

#plane {
	position:fixed;
	z-index:104;
	top:30%;
	left:-10%;
	margin-left:-117px;
	margin-top:-102px;
	width:234px;
	height:204px;
	background:url(svg/plane.svg) no-repeat;
	background-size:100%;
}

#cloud_1, #cloud_2, #cloud_3, #cloud_4 {
	position:fixed;
	z-index:1;
	top:30%;
	left:100%;
	width:200px;
	height:90px;
	background:url(svg/cloud_1.svg) no-repeat;
	background-size:100%;
}

#cloud_2 {
	top:15%;
	width:244px;
	height:100px;
	background-image:url(svg/cloud_2.svg);
}

#cloud_3 {
	top:20%;
	width:254px;
	height:104px;
	background-image:url(svg/cloud_3.svg);
}

#cloud_4 {
	top:15%;
	width:126px;
	height:52px;
	background-image:url(svg/cloud_4.svg);
}

#land {
	position:fixed;
	z-index:50;
	margin-left:0px;
	margin-top:0px;
	width:2000px;
	height:100%;
	background-color:#C9B98F;
}

#title_1, #title_2, #title_3, #title_4, #title_5, #title_6, #title_7, #title_8 {
	position:fixed;
	z-index:105;
	top:10%;
	left:100%;
	margin-left:-238px;
	margin-top:-35px;
	width:477px;
	height:69px;
	background:url(svg/title_1_cn.svg) no-repeat;
	background-size:100%;
}

#title_2 {
	margin-left:-197px;
	width:395px;
	background-image:url(svg/title_2_cn.svg);
}

#title_3 {
	margin-left:-197px;
	margin-top:-72px;
	width:395px;
	height:144px;
	background-image:url(svg/title_3_cn.svg);
}

#title_4 {
	margin-left:-168px;
	margin-top:-72px;
	width:338px;
	height:144px;
	background-image:url(svg/title_4_cn.svg);
}

#title_5 {
	margin-left:-168px;
	margin-top:-72px;
	width:338px;
	height:144px;
	background-image:url(svg/title_5_cn.svg);
}

#title_6 {
	margin-left:-168px;
	margin-top:-72px;
	width:338px;
	height:144px;
	background-image:url(svg/title_6_cn.svg);
}

#title_7 {
	margin-left:-168px;
	margin-top:-72px;
	width:338px;
	height:144px;
	background-image:url(svg/title_7_cn.svg);
}

#title_8 {
	margin-left:-197px;
	width:395px;
	background-image:url(svg/title_8_cn.svg);
}

#mountain_1,#mountain_2,#mountain_3,#mountain_4 {
	position:fixed;
	z-index:49;
	top:80%;
	left:50%;
	margin-left:-190px;
	margin-top:-420px;
	width:381px;
	height:420px;
	background:url(svg/mountain_design_cn.svg) no-repeat;
	background-size:100%;
}

#mountain_2 {
	margin-top:-363px;
	height:363px;
	background-image:url(svg/mountain_illustration_cn.svg);
}

#mountain_3 {
	margin-top:-562px;
	height:562px;
	background-image:url(svg/mountain_animation_cn.svg);
}

#mountain_4 {
	margin-top:-216px;
	height:216px;
	background-image:url(svg/mountain_code_cn.svg);
}	

#tiantan {
	position:fixed;
	z-index:49;
	top:80%;
	left:50%;
	margin-left:-265px;
	margin-top:-509px;
	width:531px;
	height:509px;
	background:url(svg/tiantan.svg) no-repeat;
	background-size:100%;
}

#game {
	position:fixed;
	z-index:49;
	top:80%;
	left:50%;
	margin-left:-127px;
	margin-top:-479px;
	width:255px;
	height:480px;
	background:url(svg/game.svg) no-repeat;
	background-size:100%;	
}

#build_shadow {
	position:fixed;
	z-index:30;
	top:80%;
	left:50%;
	margin-left:0px;
	margin-top:-439px;
	width:1380px;
	height:439px;
	background:url(svg/build_shadow.svg) no-repeat;
	background-size:100%;
}

#tree {
	position:fixed;
	z-index:47;
	top:80%;
	left:50%;
	margin-left:-65px;
	margin-top:-177px;
	width:131px;
	height:177px;
	background:url(svg/tree.svg) no-repeat;
	background-size:100%;
}

#gress_1,#gress_2 {
	position:fixed;
	z-index:47;
	top:80%;
	left:50%;
	margin-left:-10px;
	margin-top:-27px;
	width:20px;
	height:27px;
	background:url(svg/gress_1.svg) no-repeat;
	background-size:100%;
}

#gress_2 {
	margin-left:-15px;
	margin-top:-28px;
	width:30px;
	height:28px;
	background-image:url(svg/gress_2.svg);
}

#education_1 {
	position:fixed;
	z-index:49;
	top:80%;
	left:50%;
	margin-left:-276px;
	margin-top:-438px;
	width:552px;
	height:438px;
	background:url(svg/education_1.svg) no-repeat;
	background-size:100%;
}	

#info_1, #info_2, #info_3, #info_4, #info_5 {
	position:fixed;
	z-index:103;
	top:80%;
	left:50%;
	margin-left:-73px;
	margin-top:-400px;
	width:146px;
	height:146px;
	background:url(svg/info_1_cn.svg) no-repeat;
	background-size:100%;
	-webkit-animation:info_small 0.3s 1 ;
			animation:info_small 0.3s 1 ;
	-webkit-animation-fill-mode:forwards; 	
			animation-fill-mode:forwards; 
}

#info_2 {
	margin-left:-72px;
	margin-top:-400px;
	background-image:url(svg/info_2_cn.svg);
}

#info_3 {
	margin-left:-62px;
	margin-top:-305px;
	background-image:url(svg/info_3_cn.svg);
}

#info_4 {
	margin-left:-78px;
	margin-top:-360px;
	background-image:url(svg/info_4_cn.svg);
}

#info_5 {
	margin-left:-73px;
	margin-top:-305px;
	background-image:url(svg/info_5_cn.svg);
}

#info_1:hover, #info_2:hover, #info_3:hover, #info_4:hover, #info_5:hover{
	-webkit-animation:info_big 0.3s 1 ;
			animation:info_big 0.3s 1 ;
	-webkit-animation-fill-mode:forwards; 	
			animation-fill-mode:forwards; 
}

#education_2 {
	position:fixed;
	z-index:49;
	top:80%;
	left:50%;
	margin-left:-271px;
	margin-top:-589px;
	width:543px;
	height:589px;
	background:url(svg/education_2.svg) no-repeat;
	background-size:100%;
}

#zeppelin {
	position:fixed;
	z-index:30;
	top:20%;
	left:50%;
	margin-left:0px;
	margin-top:-54px;
	width:242px;
	height:109px;
	background:url(svg/zeppelin.svg) no-repeat;
	background-size:100%;
}

#station {
	position:fixed;
	z-index:50;
	top:80%;
	left:50%;
	margin-left:-19px;
	margin-top:-90px;
	width:38px;
	height:90px;
	background:url(svg/station.svg) no-repeat;
	background-size:100%;
}	

#poles {
	position:fixed;
	z-index:30;
	top:80%;
	left:50%;
	margin-left:-235px;
	margin-top:-249px;
	width:471px;
	height:249px;
	background:url(svg/poles.svg) no-repeat;
	background-size:100%;
}

#trash {
	position:fixed;
	z-index:30;
	top:80%;
	left:50%;
	margin-left:-18px;
	margin-top:-43px;
	width:36px;
	height:43px;
	background:url(svg/trash_can.svg) no-repeat;
	background-size:100%;
}	
	
#deep_creative {
	position:fixed;
	z-index:49;
	top:80%;
	left:50%;
	margin-left:-114px;
	margin-top:-420px;
	width:228px;
	height:420px;
	background:url(svg/deep_creative.svg) no-repeat;
	background-size:100%;
}

#postbox {
	position:fixed;
	z-index:50;
	top:80%;
	left:50%;
	margin-left:-15px;
	margin-top:-67px;
	width:31px;
	height:67px;
	background:url(svg/postbox.svg) no-repeat;
	background-size:100%;
}

#margin_media {
	position:fixed;
	z-index:49;
	top:80%;
	left:50%;
	margin-left:-135px;
	margin-top:-512px;
	width:271px;
	height:512px;
	background:url(svg/margin_media.svg) no-repeat;
	background-size:100%;
}

#cheil_opentide {
	position:fixed;
	z-index:49;
	top:80%;
	left:50%;
	margin-left:-128px;
	margin-top:-549px;
	width:256px;
	height:549px;
	background:url(svg/cheil_opentide.svg) no-repeat;
	background-size:100%;
}

#roadblocks {
	position:fixed;
	z-index:50;
	top:80%;
	left:50%;
	margin-left:-15px;
	margin-top:-34px;
	width:31px;
	height:34px;
	background:url(svg/roadblocks.svg) no-repeat;
	background-size:100%;
}

#beach {
	position:fixed;
	z-index:60;
	top:80%;
	left:50%;
	margin-left:-250px;
	margin-top:0px;
	width:500px;
	height:400px;
	background:url(svg/beach.svg) no-repeat;
	background-size:100%;
}


#boat {
	position:fixed;
	z-index:30;
	top:80%;
	left:50%;
	margin-left:-114px;
	margin-top:-156px;
	width:228px;
	height:276px;
	background:url(svg/boat.svg) no-repeat;
	background-size:100%;
}

#sea_1 {
	position:fixed;
	z-index:20;
	top:80%;
	left:50%;
	margin-left:0px;
	margin-top:0px;
	width:2646px;
	height:200px;
	background:url(svg/sea_1.svg) no-repeat;
	background-size:100%;
}

#sea_2 {
	position:fixed;
	z-index:21;
	top:81%;
	left:50%;
	margin-left:0px;
	margin-top:0px;
	width:3342px;
	height:200px;
	background:url(svg/sea_2.svg) no-repeat;
	background-size:100%;
}

#sea_3 {
	position:fixed;
	z-index:22;
	top:85%;
	left:50%;
	margin-left:0px;
	margin-top:0px;
	width:3116px;
	height:2192px;
	background:url(svg/sea_3.svg) no-repeat;
	background-size:100%;
}

#sea_4 {
	position:fixed;
	z-index:40;
	top:86%;
	left:50%;
	margin-left:0px;
	margin-top:0px;
	width:2980px;
	height:2154px;
	background:url(svg/sea_4.svg) no-repeat;
	background-size:100%;
}

#tortoise {
	position:fixed;
	z-index:39;
	top:80%;
	left:50%;
	margin-left:-66px;
	margin-top:-36px;
	width:132px;
	height:73px;
	background:url(svg/tortoise.svg) no-repeat;
	background-size:100%;
}

#fish_1, #fish_2, #fish_3 {
	position:fixed;
	z-index:30;
	top:80%;
	left:50%;
	margin-left:-40px;
	margin-top:-27px;
	width:81px;
	height:55px;
	background:url(svg/fish_1.svg) no-repeat;
	background-size:100%;
}

#fish_2 {
	background-image:url(svg/fish_2.svg);
}

#fish_3 {
	background-image:url(svg/fish_3.svg);
}


#pop_1, #pop_2, #pop_3, #pop_4, #pop_5, #pop_ai, #pop_dw, #pop_ps, #pop_fl {
	position:fixed;
	z-index:31;
	top:80%;
	left:50%;
	margin-left:-39px;
	margin-top:-39px;
	width:78px;
	height:78px;
	background:url(svg/pop.svg) no-repeat;
	background-size:100%;
}

#pop_2 {
	margin-left:-35px;
	margin-top:-35px;
	width:70px;
	height:70px;
}

#pop_3 {
	margin-left:-30px;
	margin-top:-30px;
	width:60px;
	height:60px;
}

#pop_4 {
	margin-left:-27px;
	margin-top:-27px;
	width:54px;
	height:54px;
}

#pop_5 {
	margin-left:-25px;
	margin-top:-25px;
	width:50px;
	height:50px;
}

#pop_ai {
	margin-left:-39px;
	margin-top:-39px;
	width:78px;
	height:78px;
	background-image:url(svg/pop_ai.svg);
}

#pop_dw {
	margin-left:-50px;
	margin-top:-50px;
	width:100px;
	height:100px;
	background-image:url(svg/pop_dw.svg);
}

#pop_fl {
	margin-left:-55px;
	margin-top:-55px;
	width:111px;
	height:111px;
	background-image:url(svg/pop_fl.svg);
}

#pop_ps {
	margin-left:-65px;
	margin-top:-65px;
	width:133px;
	height:133px;
	background-image:url(svg/pop_ps.svg);
}

#pop_a, #pop_b, #pop_c, #pop_d, #pop_e, #pop_f {
	position:fixed;
	z-index:99;
	top:80%;
	left:50%;
	margin-left:-275px;
	margin-top:-50px;
	width:550px;
	height:100px;
	background:url(svg/pop_a_cn.svg) no-repeat;
	background-size:100%;
}

#pop_b {
	background-image:url(svg/pop_b_cn.svg);
}

#pop_c {
	background-image:url(svg/pop_c_cn.svg);
}

#pop_d {
	background-image:url(svg/pop_d_cn.svg);
}

#pop_e {
	background-image:url(svg/pop_e_cn.svg);
}

#pop_f {
	background-image:url(svg/pop_f_cn.svg);
}

#octopus {
	position:fixed;
	z-index:30;
	top:80%;
	left:50%;
	margin-left:-319px;
	margin-top:-341px;
	width:639px;
	height:682px;
	background:url(svg/octopus.svg) no-repeat;
	background-size:100%;
}

#tentacle_1 {
	position:fixed;
	z-index:42;
	top:0%;
	left:0%;
	margin-left:0px;
	margin-top:0px;
	width:1500px;
	height:816px;
	background:url(svg/tentacle_1.svg) no-repeat;
	background-size:100%;
}

#tentacle_2 {
	position:fixed;
	z-index:42;
	top:0%;
	left:0%;
	margin-left:0px;
	margin-top:0px;
	width:1038px;
	height:918px;
	background:url(svg/tentacle_2.svg) no-repeat;
	background-size:100%;
}

#tentacle_3 {
	position:fixed;
	z-index:42;
	top:0%;+ 
	left:0%;
	margin-left:0px;
	margin-top:0px;
	width:600px;
	height:834px;
	background:url(svg/tentacle_3.svg) no-repeat;
	background-size:100%;
}

#shadow {
	z-index:100;
	width:100%;
	height:100%;
	background-color:#17232F;
}

#lighthouse {
	position:fixed;
	z-index:20;
	top:90%;
	left:80%;
	margin-left:-353px;
	margin-top:-607px;
	width:706px;
	height:607px;
	background:url(svg/lighthouse.svg) no-repeat;
	background-size:100%;
}

#sun {
	position:fixed;
	z-index:10;
	top:85%;
	left:20%;
	margin-left:-400px;
	margin-top:-400px;
	width:800px;
	height:800px;
	background:url(svg/sun.svg) no-repeat;
	background-size:100%;
}
	
#contact_me {
	position:fixed;
	z-index:30;
	top:80%;
	left:50%;
	margin-left:-270px;
	margin-top:-100px;
	width:540px;
	height:201px;
	background:url(svg/contact_me_cn.svg) no-repeat;
	background-size:100%;
}

@media handheld, only screen and (max-height: 850px) {
	
#mountain_1,#mountain_2,#mountain_3,#mountain_4 {
	margin-left:-142px;
	margin-top:-315px;
	width:285px;
	height:315px;
}

#mountain_2 {
	margin-top:-272px;
	height:272px;
}

#mountain_3 {
	margin-top:-421px;
	height:421px;
}

#mountain_4 {
	margin-top:-162px;
	height:162px;
}	

#tiantan {
	margin-left:-199px;
	margin-top:-381px;
	width:398px;
	height:381px;
}

#game {
	margin-left:-95px;
	margin-top:-359px;
	width:191px;
	height:360px;	
}

#info_1, #info_2, #info_3, #info_4, #info_5 {
	margin-left:-54px;
	margin-top:-296px;
	width:108px;
	height:108px;
}

#info_2 {
	margin-left:-52px;
	margin-top:-296px;
}

#info_3 {
	margin-left:-44px;
	margin-top:-228px;
}

#info_4 {
	margin-left:-58px;
	margin-top:-268px;
}

#info_5 {
	margin-left:-54px;
	margin-top:-228px;
}

#education_1 {
	margin-left:-207px;
	margin-top:-328px;
	width:414px;
	height:328px;
}	

#education_2 {
	margin-left:-203px;
	margin-top:-441px;
	width:407px;
	height:441px;
}
#tree {
	margin-left:-49px;
	margin-top:-132px;
	width:98px;
	height:132px;
}

#gress_1,#gress_2 {
	margin-left:-7px;
	margin-top:-20px;
	width:15px;
	height:20px;
}

#gress_2 {
	margin-left:-11px;
	margin-top:-21px;
	width:22px;
	height:21px;
}

#station {
	margin-left:-14px;
	margin-top:-67px;
	width:28px;
	height:67px;
}	

#poles {
	margin-left:-176px;
	margin-top:-186px;
	width:353px;
	height:186px;
}

#trash {
	margin-left:-13px;
	margin-top:-32px;
	width:27px;
	height:32px;
}	
	
#deep_creative {
	margin-left:-85px;
	margin-top:-315px;
	width:171px;
	height:315px;
}

#postbox {
	margin-left:-11px;
	margin-top:-50px;
	width:23px;
	height:50px;
}

#margin_media {
	margin-left:-101px;
	margin-top:-383px;
	width:203px;
	height:384px;
}

#cheil_opentide {
	margin-left:-96px;
	margin-top:-411px;
	width:192px;
	height:411px;
}

#roadblocks {
	margin-left:-11px;
	margin-top:-25px;
	width:23px;
	height:25px;
}

#lighthouse {
	margin-left:-264px;
	margin-top:-455px;
	width:529px;
	height:455px;
}

#sun {
	position:fixed;
	z-index:10;
	top:85%;
	left:20%;
	margin-left:-400px;
	margin-top:-400px;
	width:800px;
	height:800px;
	background:url(svg/sun.svg);
	background-size:100%;
}
	
#contact_me {
	position:fixed;
	z-index:30;
	top:80%;
	left:50%;
	margin-left:-270px;
	margin-top:-100px;
	width:540px;
	height:201px;
	background:url(svg/contact_me_cn.svg);
	background-size:100%;
}
}

@media handheld, only screen and (max-height: 700px) {
	
#operation {
	margin-left:-137px;
	margin-top:-42px;
	width:275px;
	height:84px;
}

#title_1, #title_2, #title_3, #title_4, #title_5, #title_6, #title_7, #title_8 {
	margin-left:-167px;
	margin-top:-25px;
	width:335px;
	height:51px;
}

#title_2 {
	margin-left:-148px;
	width:296px;
}

#title_3 {
	margin-left:-148px;
	margin-top:-54px;
	width:296px;
	height:108px;
}

#title_4, #title_5, #title_6, #title_7 {
	margin-left:-126px;
	margin-top:-54px;
	width:253px;
	height:108px;
}

#title_8 {
	margin-left:-148px;
	width:296px;
}

}

@media handheld, only screen and (max-width: 1200px) {
#tentacle_1 {
	margin-left:-200px;
	margin-top:200px;
	width:1125px;
	height:612px;
}
}

@media handheld, only screen and (max-width: 550px) {
	
#logo {
	margin-left:-150px;
	margin-top:-150px;
	width:300px;
	height:300px;
}

#operation {
	margin-left:-137px;
	margin-top:-42px;
	width:275px;
	height:84px;
}

#luoxuan {
	margin-left:150px;
	margin-top:78px;
	width:4px;
	height:37px;
}

#plane {
	margin-left:-78px;
	margin-top:-68px;
	width:156px;
	height:136px;
}

#boat {
	margin-left:-76px;
	margin-top:-110px;
	width:152px;
	height:184px;
}

#sea_1 {
	margin-left:0px;
	margin-top:0px;
	width:1323px;
	height:200px;
}

#sea_2 {
	margin-left:0px;
	margin-top:0px;
	width:1671px;
	height:200px;
}

#sea_3 {
	margin-left:0px;
	margin-top:0px;
	width:1558px;
	height:1096px;
}

#sea_4 {
	margin-left:0px;
	margin-top:0px;
	width:1490px;
	height:1077px;
}

#pop_a, #pop_b, #pop_c, #pop_d, #pop_e, #pop_f {
	margin-left:-150px;
	margin-top:-50px;
	width:300px;
	height:100px;
	background:url(svg/pop_a_min_cn.svg) no-repeat;
	background-size:100%;
}

#pop_b {
	background-image:url(svg/pop_b_min_cn.svg);
}

#pop_c {
	background-image:url(svg/pop_c_min_cn.svg);
}
#pop_d {
	background-image:url(svg/pop_d_min_cn.svg);
}
#pop_e {
	background-image:url(svg/pop_e_min_cn.svg);
}
#pop_f {
	background-image:url(svg/pop_f_min_cn.svg);
}

#tortoise {
	margin-left:-44px;
	margin-top:-24px;
	width:88px;
	height:49px;
}

#fish_1, #fish_2, #fish_3 {
	margin-left:-27px;
	margin-top:-18px;
	width:54px;
	height:37px;
}

#pop_1, #pop_2, #pop_3, #pop_4, #pop_5, #pop_ai, #pop_dw, #pop_ps, #pop_fl {
	margin-left:-26px;
	margin-top:-26px;
	width:52px;
	height:52px;
}

#pop_2 {
	margin-left:-20px;
	margin-top:-20px;
	width:40px;
	height:40px;
}

#pop_3 {
	margin-left:-30px;
	margin-top:-30px;
	width:60px;
	height:60px;
}

#pop_4 {
	margin-left:-18px;
	margin-top:-18px;
	width:36px;
	height:36px;
}

#pop_5 {
	margin-left:-25px;
	margin-top:-25px;
	width:50px;
	height:50px;
}

#pop_ai {
	margin-left:-30px;
	margin-top:-30px;
	width:60px;
	height:60px;
}

#pop_dw {
	margin-left:-33px;
	margin-top:-33px;
	width:67px;
	height:67px;
}

#pop_fl {
	margin-left:-37px;
	margin-top:-37px;
	width:74px;
	height:74px;
}

#pop_ps {
	margin-left:-44px;
	margin-top:-44px;
	width:89px;
	height:89px;
}

#octopus {
	margin-left:-213px;
	margin-top:-227px;
	width:426px;
	height:455px;
}

#tentacle_1 {
	margin-left:-500px;
	margin-top:200px;
	width:1125px;
	height:612px;
}

#tentacle_2 {
	margin-left:-200px;
	margin-top:0px;
	width:778px;
	height:688px;
}

#tentacle_3 {
	margin-left:-200px;
	margin-top:0px;
	width:450px;
	height:625px;
}

#lighthouse {
	margin-left:-198px;
	margin-top:-340px;
	width:396px;
	height:340px;
}

#contact_me {
	margin-left:-180px;
	margin-top:-67px;
	width:360px;
	height:134px;
}
}

@media handheld, only screen and (max-width: 360px) {

#cloud_1, #cloud_2, #cloud_3, #cloud_4 {
	width:100px;
	height:45px;
}

#cloud_2 {
	width:122px;
	height:50px;
}

#cloud_3 {
	width:127px;
	height:52px;
}

#cloud_4 {
	width:63px;
	height:26px;
}

#mountain_1,#mountain_2,#mountain_3,#mountain_4 {
	margin-left:20px;
	margin-top:-235px;
	width:213px;
	height:236px;
}

#mountain_2 {
	margin-left:-60px;
	margin-top:-203px;
	height:204px;
}

#mountain_3 {
	margin-left:-140px;
	margin-top:-314px;
	height:315px;
}

#mountain_4 {
	margin-left:-220px;
	margin-top:-120px;
	height:121px;
}

#title_1, #title_2, #title_3, #title_4, #title_5, #title_6, #title_7, #title_8 {
	margin-left:-167px;
	margin-top:-25px;
	width:335px;
	height:51px;
}

#title_2 {
	margin-left:-148px;
	width:296px;
}

#title_3 {
	margin-left:-148px;
	margin-top:-34px;
	width:296px;
	height:108px;
}

#title_4, #title_5, #title_6, #title_7 {
	margin-left:-126px;
	margin-top:-34px;
	width:253px;
	height:108px;
}

#title_8 {
	margin-left:-148px;
	width:296px;
}

#tiantan {
	margin-left:-149px;
	margin-top:-285px;
	width:298px;
	height:285px;
}

#game {
	margin-left:-63px;
	margin-top:-239px;
	width:127px;
	height:240px;
}

#info_1, #info_2, #info_3, #info_4, #info_5 {
	margin-left:-40px;
	margin-top:-222px;
	width:80px;
	height:80px;
}

#info_2 {
	margin-left:-39px;
	margin-top:-222px;
}

#info_3 {
	margin-left:-34px;
	margin-top:-170px;
}

#info_4 {
	margin-left:-42px;
	margin-top:-202px;
}

#info_5 {
	margin-left:-40px;
	margin-top:-170px;
}

#education_1 {
	margin-left:-155px;
	margin-top:-245px;
	width:310px;
	height:246px;
}	

#education_2 {
	margin-left:-152px;
	margin-top:-330px;
	width:305px;
	height:330px;
}
#tree {
	margin-left:-36px;
	margin-top:-99px;
	width:73px;
	height:99px;
}

#gress_1 {
	margin-left:-5px;
	margin-top:-15px;
	width:11px;
	height:15px;
}

#gress_2 {
	margin-left:-8px;
	margin-top:-15px;
	width:16px;
	height:15px;
}

#station {
	margin-left:-10px;
	margin-top:-50px;
	width:21px;
	height:50px;
}	

#poles {
	margin-left:-132px;
	margin-top:-139px;
	width:264px;
	height:139px;
}

#trash {
	margin-left:-10px;
	margin-top:-24px;
	width:20px;
	height:24px;
}	
	
#deep_creative {
	margin-left:-64px;
	margin-top:-235px;
	width:128px;
	height:236px;
}

#postbox {
	margin-left:-8px;
	margin-top:-37px;
	width:17px;
	height:37px;
}

#margin_media {
	margin-left:-76px;
	margin-top:-287px;
	width:152px;
	height:288px;
}

#cheil_opentide {
	margin-left:-72px;
	margin-top:-308px;
	width:144px;
	height:308px;
}

#roadblocks {
	margin-left:-8px;
	margin-top:-18px;
	width:17px;
	height:18px;
}

#beach {
	margin-left:-125px;
	margin-top:0px;
	width:250px;
	height:200px;
}


#boat {
	margin-left:-76px;
	margin-top:-120px;
	width:152px;
	height:184px;
}

#sea_1 {
	margin-left:0px;
	margin-top:0px;
	width:992px;
	height:200px;
}

#sea_2 {
	margin-left:0px;
	margin-top:0px;
	width:1253px;
	height:200px;
}

#sea_3 {
	margin-left:0px;
	margin-top:0px;
	width:1168px;
	height:822px;
}

#sea_4 {
	margin-left:0px;
	margin-top:10px;
	width:1117px;
	height:807px;
}

#tortoise {
	margin-left:-33px;
	margin-top:-18px;
	width:66px;
	height:36px;
}

#fish_1, #fish_2, #fish_3 {
	margin-left:-20px;
	margin-top:-13px;
	width:40px;
	height:27px;
}

#octopus {
	margin-left:-159px;
	margin-top:-166px;
	width:319px;
	height:340px;
}

#contact_me {
	margin-left:-135px;
	margin-top:-50px;
	width:270px;
	height:100px;
}

#lighthouse {
	margin-left:-132px;
	margin-top:-227px;
	width:264px;
	height:227px;
}

#sun {
	margin-left:-200px;
	margin-top:-200px;
	width:400px;
	height:400px;
}
}

@-webkit-keyframes luoxuan {
  0% {
    -webkit-transform: scaleY(1.5);
            transform: scaleY(1.5);
  }
  50% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
  }
  100% {
    -webkit-transform: scaleY(1.5);
            transform: scaleY(1.5);
  }
}
@keyframes luoxuan {
  0% {
    -webkit-transform: scaleY(1.5);
            transform: scaleY(1.5);
  }
  50% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
  }
  100% {
    -webkit-transform: scaleY(1.5);
            transform: scaleY(1.5);
  }
}
@-webkit-keyframes info_big {
  0% {
	  -webkit-transform: scaleY(1.0) scaleX(1.0);
            transform: scaleY(1.0) scaleX(1.0);
	}
  100% {
	  -webkit-transform: scaleY(2) scaleX(2);
            transform: scaleY(2) scaleX(2);
	}
}
@keyframes info_big {
  0% {
	  -webkit-transform: scaleY(1.0) scaleX(1.0);
            transform: scaleY(1.0) scaleX(1.0);
	}
  100% {
	  -webkit-transform: scaleY(2) scaleX(2);
            transform: scaleY(2) scaleX(2);
	}
}

@-webkit-keyframes info_small {
  0% {
	  -webkit-transform: scaleY(2) scaleX(2);
            transform: scaleY(2) scaleX(2);
	}
  100% {
	  -webkit-transform: scaleY(1) scaleX(1);
            transform: scaleY(1) scaleX(1);
	}
}
@keyframes info_small {
  0% {
	  -webkit-transform: scaleY(2) scaleX(2);
            transform: scaleY(2) scaleX(2);
	}
  100% {
	  -webkit-transform: scaleY(1) scaleX(1);
            transform: scaleY(1) scaleX(1);
	}
}